/************************* BACKGROUND *************************/
.site-wrapper {
    background-image: url("../img/rsvp_main.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/************************* MAIN *************************/

@media (min-width:768px) {
    header {
        background-image: url("../img/rsvp_main.png");
        background-position: top;
        background-size:cover;
        background-repeat: no-repeat;
    }
}

main h3,
main h3 + h4,
main h5 {
    text-align: left;
    margin-bottom: 20px;
}

main input[type="text"],
main input[type="email"]{
    background-color: #eee;
}

main input[type="submit"] {
    font-size: 24px;
    margin-bottom: 20px;
}

main label,
main h3,
main h4 {
    text-shadow: 0px 0px 20px #000;
}

main h4 {
    margin-top: 20px;
}

main a,
main a:hover,
main a:focus {
    color: #ceab1a;
}